/*variable*/
:root {
    --font_family: Tahoma, "Trebuchet MS", sans-serif;
    --primary_background_color: rgb(255, 255, 255);
    --secondary_background_color: rgba(0, 0, 0, 0.2);
    --primary_font_color: rgb(0, 0, 0);
    --primary_font_size: 20px;
}

/*html*/
* {
    box-sizing: border-box;
}

html {
    font-family: var(--font_family);
    width: 100%;
}

body {
    background-color: var(--primary_background_color);
    margin: 0;
    width: 100%;
}

/*header*/
.HDcontainer {
    border-bottom: 1px solid var(--secondary_background_color);
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 100px;
    max-height: 100px;
    position: relative;
    width: 100%;

    .header1 {
        margin: auto auto auto 20%;
        text-align: center;

        img {
            width: 100%;
        }
    }

    .header2 {
        nav ul li {
            float: left;
            margin-right: 4%;
        }

        nav ul li a {
            color: var(--primary_font_color);
            display: block;
            font-size: var(--primary_font_size);
            line-height: 150%;
            margin-top: 20px;
            text-align: center;
            text-decoration: none;
            width: 100%;
        }

        nav ul li a:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        ul,
        ol {
            list-style: none;
        }
    }

    .header3 {
        display: flex;
        margin: 20px 0 20px 0;
        text-align: center;

        a {
            margin: auto 0 auto 40px;
        }

        img {
            width: 150%;
        }
    }
}

.HDcontainer::after {
    clear: both;
}

/*slideshow*/
.slideContainer {
    display: inline-block;
    overflow: hidden;
    position: relative;

    button {
        background-color: transparent;
        border: 2px solid var(--primary_background_color);
        color: var(--primary_background_color);
        cursor: pointer;
        font-size: var(--primary_font_size);
        padding: 15px 32px;
        position: absolute;
        transition: background-color 0.3s, color 0.3s;
    }

    button:hover {
        background-color: var(--primary_background_color);
        color: var(--primary_font_color);
    }

    img {
        margin-top: -200px;
        width: 100%;
    }

    .buttonLeft {
        left: 3.5%;
        top: 76%;
    }

    .buttonRight {
        right: 33%;
        top: 76%;
    }

    .prev,
    .next {
        border-radius: 0 3px 3px 0;
        color: var(--primary_background_color);
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        margin-top: -22px;
        padding: 16px;
        position: absolute;
        top: 50%;
        transition: 0.3s ease;
        user-select: none;
        width: auto;
    }

    .next {
        border-radius: 3px 0 0 3px;
        right: 0;
    }

    .prev:hover,
    .next:hover {
        background-color: var(--secondary_background_color);
    }

    .dot {
        background-color: var(--secondary_background_color);
        display: inline-block;
        border-radius: 50%;
        cursor: pointer;
        height: 15px;
        margin: 0 2px;
        transition: background-color 0.1s ease;
        width: 15px;
    }

    .active,
    .dot:hover {
        background-color: var(--primary_font_color);
    }

    .fadeAnimation {
        animation-duration: 0.5s;
        animation-name: fadeAnimation;
    }

}

@keyframes fadeAnimation {
    from {
        opacity: .8
    }

    to {
        opacity: 1
    }
}