<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>controller.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/ProductDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RetrieveUser</servlet-name>
        <servlet-class>controller.RetrieveUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RetrieveUser</servlet-name>
        <url-pattern>/RetrieveUser</url-pattern>
    </servlet-mapping>
</web-app>
