/*variable*/
:root {
    --font_family: Tahoma, "Trebuchet MS", sans-serif;
    --primary_white_color: rgb(255, 255, 255);
    --secondary_white_color: rgba(255,255,255,0.65);
    --primary_black_color: rgb(0, 0, 0);
    --secondary_black_color: rgba(0, 0, 0, 0.2);
    --third_black_color: rgba(0, 0, 0, 0.9);
    --primary_grey_color: hsl(0,0%,98%);
    --secondary_grey_color: hsl(0, 0%, 95%);
    --third_grey_color: hsl(0, 0%, 50%);
    --fourth_grey_color: hsl(0, 0%, 80%);
    --primary_brown_color: rgb(51,48,46);
    --secondary_brown_color: rgba(51,48,46,0.4);
    --primary_font_size: 20px;
    --secondary-font-size: 18px;
    --third-font-size: 14px;
    --fourth-font-size: 16px;
    --fifth-font-size: 12px;
}

/*html*/
* {
    box-sizing: border-box;
}

html {
    font-family: var(--font_family);
    width: 100%;
}

body {
    background-color: var(--primary_white_color);
    margin: 0;
    width: 100%;
}